a{
    color: white;
    font-size: large;
}

.main-lbl {
    color: crimson;
    font-size: x-large;
}

body {
    min-width: 270px;
}

.opana {
    margin-bottom: 0 !important;
    background: rgba(0, 0, 0, 0.58);
}